.services {
  @include adaptiveValue("padding-top", 110, 25);
  @include adaptiveValue("padding-bottom", 60, 30);

  &__container {
    display: grid;
  }

  &__header {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 78, 30);
    }
  }

  &__suptitle {}

  &__title {}

  &__items {
    display: grid;
    gap: rem(24);

    @media (min-width:$tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width:$mobile) and (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 66, 30);
    }
  }

  &__item {}

  &__btn {
    justify-self: center;
    align-self: center;
  }
}

.item-services {
  background-color: $white;
  transition: all 0.5s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
    }
  }

  &__content {
    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("padding-bottom", 50, 25);
    @include adaptiveValue("padding-left", 44, 22);
    @include adaptiveValue("padding-right", 44, 22);
    display: grid;
    padding: rem(50) rem(44);
    justify-items: center;
    text-align: center;
  }

  &__image {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 33, 16);
    }

    img {
      width: rem(63);
      height: rem(63);
    }
  }

  &__title {
    font-weight: 900;
    font-size: rem(19);
    line-height: 1.37;
    color: $blue;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  &__text {}
}