.testimony {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 60, 30);

  &__container {}

  &__content {
    display: grid;
    gap: rem(24);

    @media (min-width:$tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width:$mobile) and (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__header {
    align-self: start;
    grid-row: 1/3;

    @media (min-width:$mobile) and (max-width:$tablet) {
      grid-column: 1/3;
    }
  }

  &__suptitle {}

  &__title {}

  &__item {}
}

.item-testimony {
  background-color: $white;
  @include adaptiveValue("padding-top", 45, 15);
  @include adaptiveValue("padding-bottom", 45, 15);
  @include adaptiveValue("padding-left", 45, 15);
  @include adaptiveValue("padding-right", 45, 15);

  &__content {
    display: grid;
    @include adaptiveValue("gap", 45, 20);
  }

  &__text {}

  &__author {
    display: flex;
    gap: rem(17);
    align-items: center;
  }

  &__image {
    width: rem(48);
    height: rem(48);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: 700;
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: $blue;
  }
}